{{> post-info post}}

{{> comments post.comments}}
{{#if loggedIn}}
  <form class="comment-form">
    <div>
      <textarea name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit" class="btn">add comment</button>
    </div>
  </form>
{{/if}}
{{#if loggedIn}}
  <script src="/js/comment.js"></script>
  <script src="/js/upvote.js"></script>
{{/if}}